.super_container
    header.header.d-flex.flex-row
        .header_content.d-flex.flex-row.align-items-center
            .logo_container
                .logo
                    img(src='/public/images/logo.png', alt='')
                    span course

            nav.main_nav_container
                .main_nav
                    ul.main_nav_list
                        li.main_nav_item
                            a(href='#') home
                        li.main_nav_item
                            a(href='#') about us
                        li.main_nav_item
                            a(href='courses.html') courses
                        li.main_nav_item
                            a(href='elements.html') elements
                        li.main_nav_item
                            a(href='news.html') news
                        li.main_nav_item
                            a(href='/contactenos') contact
        .header_side.d-flex.flex-row.justify-content-center.align-items-center
            img(src='/public/images/phone-call.svg', alt='')
            span +507 6772-6616
        .hamburger_container
            i.fas.fa-bars.trans_200

    .menu_container.menu_mm
        .menu_close_container
            .menu_close

        .menu_inner.menu_mm
            .menu.menu_mm
                ul.menu_list.menu_mm
                    li.menu_item.menu_mm
                        a(href='#') Home
                    li.menu_item.menu_mm
                        a(href='#') About us
                    li.menu_item.menu_mm
                        a(href='courses.html') Courses
                    li.menu_item.menu_mm
                        a(href='elements.html') Elements
                    li.menu_item.menu_mm
                        a(href='news.html') News
                    li.menu_item.menu_mm
                        a(href='contact.html') Contact

            .menu_social_container.menu_mm
                ul.menu_social.menu_mm
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-pinterest
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-linkedin-in
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-instagram
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-facebook-f
                    li.menu_social_item.menu_mm
                        a(href='#')
                        i.fab.fa-twitter
            .menu_copyright.menu_mm Colorlib All rights reserved
