.super_container
            header.header.d-flex.flex-row
                .header_content.d-flex.flex-row.align-items-center
                    .logo_container
                        .logo
                            img(src='/public/images/logo.png', alt='')
                            span course
    
                    nav.main_nav_container
                        .main_nav
                            ul.main_nav_list
                                li.main_nav_item
                                    a(href='#') home
                                li.main_nav_item
                                    a(href='#') about us
                                li.main_nav_item
                                    a(href='courses.html') courses
                                li.main_nav_item
                                    a(href='elements.html') elements
                                li.main_nav_item
                                    a(href='news.html') news
                                li.main_nav_item
                                    a(href='/contactenos') contact
                .header_side.d-flex.flex-row.justify-content-center.align-items-center
                    img(src='/public/images/phone-call.svg', alt='')
                    span +507 6772-6616
                .hamburger_container
                    i.fas.fa-bars.trans_200

            .menu_container.menu_mm